{% extends 'base.html' %}
{% load static %}


{% block link %}
	<link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
	<link rel="stylesheet" href="{% static 'sign.css' %}">
	<link rel="stylesheet" href="{% static 'prettyinput/input.css' %}">

{% endblock %}

{%block title %} Kaldender | Sign in {% endblock %}

{% block content %}

	<section>

		<p class="display-1">bulter</p>

		<div id="backgroundWrapper">
		</div>

		<div id='userInfoWrapper'>
			<h1>Velkommen tilbage!</h1>
			<h4>Alle har savnet dig</h4>

			<br>
			<form type="get" action="/dash/manage">
				{% csrf_token %}
				<input type='hidden' name="type" value='in'>

				<div style="width:100%">
					<div class="pretty-input" id="email">email</div>
					<div class="pretty-input" id="password">!password</div>
				</div>

				<input type="submit" id="enterButton_" class="btn btn-outline-success text-center enterButton" value="Enter"/>

				<!--
				Enter<l class="material-icons" style="vertical-align:middle">chevron_right</l>
				-->

			</form>

			<a href="up" id="signInLink" class="btn btn-outline-primary">Ny? Opret profil</a>

		</div>

	</section>

{% endblock %}

{% block js %}

	<script type="text/javascript" src="{% static 'prettyinput/input.js' %}"></script>
	<script type="text/javascript">

		wrapper = document.getElementById('backgroundWrapper')
		var row = 6, col = 10;

		var ele;
		for (var i = 0; i < (row*col); i++) {
			div = document.createElement('div')
			div.classList.add('backgroundCard')
			div.style.background = 'rgb(' + Math.round(255*Math.random()) + ',' + Math.round(255*Math.random()) + ',' + Math.round(255*Math.random())  + ')'

			wrapper.appendChild(div)
		}

	</script>


{% endblock %}
